@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Roboto:wght@100;300;400;500&display=swap');

// Colors
$black: #000;
$white: #ffffff;
$hover-gray: #707070;
$nav-bg: #082032;
$card-icon-bg: #e5e5e5;
$light-gray: #dde8f0;
