@import 'fonts-and-colors';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

header {
  width: 70%;
  height: 15vh;
  margin-top: 6vh !important;
  margin: auto;
  margin-bottom: 2vh;
  color: $black;
}

h1,
h3,
h5 {
  color: $white;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1px;
}

p {
  font-size: 0.7rem;
  text-transform: none;
  line-height: 1.5rem;
}

header a {
  color: $black !important;
  margin: 0.1rem;
}

a {
  text-decoration: none;
}

footer {
  background: #000;
  height: 20vh;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  color: $white;
  height: auto;
}

footer p {
  font-size: 0.5rem;
  margin-bottom: 0%;
}

// header

.logo img {
  width: 18vw;
}

.nav-item,
.explore {
  font-weight: 300;
}

.nav-item:hover {
  background: url('../imgs/Path\ 2812.svg') no-repeat;
  background-position: 1em 3em;
  background-size: 3em 20%;
}

.header-icons {
  margin-right: 0.5rem;
}

.tel {
  font-weight: normal;
  margin-right: 0.5rem;
}

.fa-brands:hover,
.tel:hover {
  color: $hover-gray;
}

.instagram {
  border-right: 2px solid #74727238;
  position: relative;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.lang {
  height: 0.8rem;
}

.hamburger,
.close {
  display: none;
  float: right;
  cursor: pointer;
  position: absolute;
  top: 6%;
  right: 90%;
  font-size: 25px;
}

.close {
  z-index: 3;
  color: $white;
}

.fixed-position {
  position: fixed;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.active {
  height: 100vh;
  width: 70vw;
  flex-direction: column !important;
  align-items: center;
  top: 0%;
  left: 0%;
  z-index: 2;
  position: fixed;
  background-color: $nav-bg;
  padding-top: 6%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

.active .nav-item {
  display: block !important;
  padding-top: 5rem;
  height: 12%;
  width: 70%;
  border-bottom: 1px solid $light-gray;
  border-bottom-width: 70%;
}

.active .nav-item:last-child {
  border-bottom: none;
}

.lang-container .dropdown .btn {
  position: relative;
  top: -10%;
}

.nav-item .dropdown .btn {
  position: relative;
  top: 10%;
}

// Main

.upper-waves,
.lower-waves {
  width: 100%;
  position: absolute;
  margin: 0%;
  padding: 0%;
}

.upper-waves img {
  top: 0%;
  width: 100%;
  margin-top: -1px;
}

.lower-waves img {
  width: 100%;
  margin-top: -40px;
}

.sections {
  height: 70vh;
  width: 100%;
}

.luxury {
  background: linear-gradient(
      90deg,
      rgba(4, 4, 8, 0.842) 0%,
      rgba(22, 22, 24, 0.603) 30%,
      rgba(63, 67, 68, 0.295) 100%
    ),
    url('../imgs/NoPath.svg') center/cover no-repeat;
  background-position: left;
  padding-top: 10%;
}

.luxury-waves {
  height: 30%;
  margin: 2% 5vw auto 0%;
}

.luxury-txt {
  width: 30%;
  color: $white;
  p {
    font-size: 12px;
  }
}

.explore {
  color: $white;
  font-size: 14px;
  padding-bottom: 3rem;
}

.explore:hover {
  background: url('../imgs/Path\ 2811.svg') no-repeat;
  background-position: -1em 1.5em;
  background-size: 70% 7%;
  color: $hover-gray;
}

.welcome {
  width: 60vw;
  margin: auto;
  padding-top: 3rem;
}

.welcome h3,
.choose-us h5,
.keep-updated h5 {
  color: $black;
}

.welcome-text {
  width: 45%;
}

.p-heading {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.heading-img {
  height: 0.9rem;
  width: 2rem;
  margin-bottom: 0.3rem;
}

.welcome-btn {
  width: 7rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.welcome-img {
  background: url('../imgs/Harris\ 2021\ Catalog-Image-068.svg') center/cover
    no-repeat;
  height: 60%;
  width: 25vw;
}

.welcome-img-waves {
  height: 6vh;
  position: relative;
  margin-left: -20px;
  margin-top: 30px;
}

.our-yachts {
  background: linear-gradient(rgba(4, 4, 8, 0.842) 0%),
    url('../imgs/NoPath\ -\ Copy\ \(28\).svg') center/cover no-repeat;
  text-align: center;
  padding-top: 5rem;
  height: 55vh;
}

.our-yachts-waves {
  position: absolute;
  right: 0%;
  height: 15%;
}

.grid-container {
  display: grid;
}

.cards-grid-container {
  grid-template-columns: auto auto;
}

.cards-grid-item {
  padding: 1px;
}

.cards {
  position: relative;
  right: -18%;
  margin-top: -10rem;
  padding-bottom: 3rem;
  max-width: 65vw;
  height: auto;
}

.card {
  height: 16rem;
  margin: 0.3rem;
  border-radius: 0%;
}

.harris {
  background: url('../imgs/NoPath - Copy (21).svg') center/cover no-repeat;
}

.searay210 {
  background: url('../imgs/NoPath\ -\ Copy\ \(22\).svg') center/cover no-repeat;
}

.searay185 {
  background: url('../imgs/NoPath - Copy (19).svg') center/cover no-repeat;
}

.rinker {
  background: url('../imgs/NoPath - Copy (20).svg') center/cover no-repeat;
}

.card-title {
  margin: 1rem;
}

.card-text {
  width: auto;
  background: $white;
  position: absolute;
  bottom: 6%;
  margin-left: 1rem;
  padding: 0.5rem;
}

.searay210 .card-text {
  background: #000000;
  color: $white;
}

.card-icon {
  width: 2rem;
  height: 2rem;
  background: $card-icon-bg;
  text-align: center;
}

.card-icon img {
  width: 1.3rem;
}

.searay210-icon {
  background: #1a1a1a;
}

.users-icon img {
  width: 0.8rem;
  height: 0.8rem;
  margin-bottom: 0.3rem;
}

.empty-section {
  height: 25vh;
}

.choose-us {
  background: #f2f2f2;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
  height: auto;
}

.choose-us-card {
  height: 43vh;
  width: 20vw;
  background: #ffffff;
}

.choose-us-card-icon {
  height: 4.5rem;
  padding-bottom: 1rem;
}

.keep-updated {
  height: 25vh;
  text-align: center;
  padding-top: 3rem;
}

.contact-form {
  margin-left: 5vw;
}

.keep-updated-heading {
  margin-right: 4vw;
}

.btn-dark {
  background: $black;
  border-radius: 0%;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  height: 2.5rem;
  text-align: center;
}

.fa-brands {
  padding: 6px 0px;
  font-size: 13px;
  width: 1.1rem;
}

.keep-updated-btns,
.form-control {
  margin-right: 0.5rem;
}

.form-control {
  height: 2.5rem;
  width: 20vw;
}

.subscribe-btn {
  margin-top: -0.3rem;
}

// Footer

.footer-logo {
  height: 2.5rem;
}

.footer-grid-container {
  grid-template-columns: auto auto;
}

// Media queries

// Extra Large Screens
@media screen and (min-width: 1366px) {
  .upper-waves {
    margin-top: -2px;
  }
  .lower-waves {
    margin-top: -3px;
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.8rem;
  }
  .luxury-txt p {
    font-size: 1rem;
  }
  .header-icon {
    font-size: 1rem;
  }
  .p-heading {
    font-size: 1.3rem;
  }
  .explore {
    font-size: 1.2rem;
  }
  .nav-item:hover {
    background-position: 1em 2.5em;
  }
  .welcome {
    height: 50vh;
  }
  .cards {
    margin-top: -18rem;
  }
  .choose-us {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 25px;
  }
  header {
    width: 80%;
  }
  p,
  .header-icon {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  h6 {
    font-size: 2rem;
  }

  .lang {
    height: 1.1rem;
  }
  .nav-item {
    margin-left: 1rem;
  }
  .upper {
    margin-bottom: 1rem;
  }
  .nav-item:hover {
    background-position: 2em 2.4em;
  }
  .upper-waves {
    margin-top: -5px;
  }
  .lower-waves {
    margin-top: -14px;
  }
  .luxury-txt p {
    font-size: 2rem;
  }
  .explore {
    font-size: 2rem;
  }

  .p-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .welcome {
    width: 70%;
    height: 60vh;
  }
  .welcome-img {
    width: 50%;
  }
  .heading-img {
    height: 2rem;
  }
  .welcome-btn {
    height: 4rem;
    width: 10rem;
    font-size: 1.3rem;
  }
  .our-yachts {
    padding-top: 10rem;
  }
  .cards {
    margin-top: -15rem;
  }
  .card {
    height: 30vh;
  }
  .choose-us {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 1280px) {
  .welcome {
    height: 60vh;
  }
  .cards {
    margin-top: -20rem;
  }
}

// Large Screens

@media screen and (max-width: 1140px) {
  p {
    font-size: 0.7rem;
  }
  footer {
    padding-top: 2rem;
  }
  .cards-grid-item p {
    font-size: 9px;
    margin: 0%;
  }
  .welcome {
    width: 80%;
  }
  .welcome-img {
    width: 35vw;
  }
}

// Small Screens
@media screen and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
  header {
    width: 90%;
  }
  footer {
    padding-top: 2rem;
  }
  h1 {
    font-size: 4rem;
  }

  .luxury-waves {
    height: 20%;
  }
  .luxury {
    padding-top: 5rem;
  }
  .luxury-txt {
    width: 60%;
  }

  .explore {
    font-size: 1.2rem;
  }
  .upper-waves {
    margin-top: -6px;
  }
  .cards {
    margin-top: -10rem;
  }

  .footer-upper-waves {
    margin-top: -3px;
  }
}

@media screen and (max-width: 991px) {
  p {
    font-size: 1rem;
  }
  .cards-grid-item {
    width: 50vw;
  }
  .choose-us-card {
    width: 30vw;
  }

  .choose-us {
    padding-bottom: 3rem;
    height: auto;
  }
  .upper-waves,
  .lower-waves {
    display: none;
  }
  .welcome-img {
    display: none;
  }
  .welcome-text {
    width: 70%;
  }
  .p-heading {
    font-size: 2rem;
  }
  .welcome-btn {
    height: 4rem;
    width: 8rem;
    font-size: 1.1rem;
  }
  .welcome {
    padding-top: 10rem;
  }

  .our-yachts-waves {
    height: 10%;
  }
  .card-text {
    width: auto;
  }
  .cards-grid-container {
    grid-template-columns: auto;
    position: relative;
    right: -10%;
  }
  .cards {
    margin-top: -35rem;
    width: 50vw;
  }
  .choose-us-card {
    height: 25vh;
  }
  .keep-updated {
    padding-top: 10rem;
  }
  .luxury {
    background-position: 20%;
    padding-top: 15rem;
  }

  .luxury-txt {
    width: 60%;
  }

  .p-heading {
    font-size: 1.5rem;
  }
  .welcome {
    width: 100%;
    padding: 4rem;
  }

  .our-yachts-waves {
    height: 10%;
  }
  .cards {
    margin-top: -25rem;
  }
  .choose-us-card {
    height: 20vh;
  }
  .keep-updated {
    flex-direction: column !important;
    height: auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .contact-form {
    flex-direction: column-reverse !important;
    align-items: flex-start;
    margin-left: 8rem;
  }
  .keep-updated-btns {
    margin-top: 1rem;
  }
  .form-control {
    width: 50vw;
  }
}

@media screen and (max-width: 820px) {
  .welcome {
    height: auto;
  }
  .welcome-btn {
    height: 2rem;
    width: 5rem;
    font-size: 0.6rem;
  }
  .contact-form {
    margin-left: 4rem;
  }
}

// iPads and Tablets

@media screen and (max-width: 768px) {
  header {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  header {
    height: 10vh;
    width: 100%;
  }
  h1 {
    font-size: 1.7rem;
  }
  p {
    font-size: 0.6rem;
  }
  footer {
    padding-top: 0%;
    text-align: left;
    padding-left: 3rem;
    height: auto;
  }
  .footer-logo-container {
    width: 50%;
  }
  header a {
    color: $light-gray !important;
  }
  .logo img {
    height: 10vh;
    width: 50vw;
    position: absolute;
    right: 25%;
  }
  .upper {
    display: none !important;
  }
  .nav-item {
    display: none !important;
  }

  .nav-item:hover,
  .explore:hover {
    background: none;
  }

  .hamburger {
    display: block;
    z-index: 3;
  }
  .fa-caret-down {
    color: $white;
  }
  .nav-item .dropdown .btn {
    top: 0%;
    margin-left: 0.5rem;
  }
  .nav-link {
    padding-top: 1.5rem;
  }
  .fleet {
    padding-top: 1.5rem !important;
  }
  .luxury-waves {
    width: 5rem;
    margin: 2rem 2rem 3rem -10px;
  }
  .luxury {
    height: 50vh;
    background-position: 0%;
    background-size: cover;
  }
  .welcome {
    flex-direction: column !important;
    height: auto;
  }
  .welcome-text {
    width: 100%;
  }
  .p-heading {
    font-size: 1rem;
  }
  .welcome-img {
    margin-top: 3rem;
    position: relative;
    left: 50%;
    display: none;
  }
  .our-yachts {
    padding-top: 3rem;
  }
  .our-yachts-waves {
    width: 5rem;
    margin-top: -4rem;
  }
  .cards-grid-item {
    width: 90vw;
  }
  .cards {
    right: 0%;
    margin-top: -12rem;
  }
  .cards p {
    font-size: 0.8rem;
  }
  .choose-us {
    height: auto;
  }
  .choose-us-cards {
    flex-direction: column !important;
    align-items: center;
    padding-bottom: 3rem;
  }
  .choose-us-card {
    width: 60%;
    height: 40vh;
    margin: auto;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }
  .copyright {
    text-align: center;
    position: relative;
    right: -5%;
  }
  .copyright p {
    margin: 0%;
  }
}

@media screen and (max-width: 540px) {
  .luxury {
    background-position: 15%;
    padding-top: 3rem;
  }
  .cards {
    right: 2%;
    margin-top: -20rem;
  }
  .explore,
  .luxury-txt p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .luxury {
    padding-top: 8rem;
  }
}

// Mobile devices

@media screen and (max-width: 414px) {
  .hamburger {
    top: 8%;
  }
  .luxury {
    padding-top: 5rem;
  }
  .cards {
    right: 0%;
    margin-top: -22rem;
  }
  .choose-us-card {
    height: 20vh;
  }
}

@media screen and (max-width: 375px) {
  .hamburger {
    top: 7%;
  }
  p {
    font-size: 0.8rem;
  }
  .luxury {
    padding-top: 5rem;
  }
  .p-heading {
    font-size: 1.1rem;
  }
  .our-yachts-waves {
    width: 4.8rem;
  }
  .cards {
    margin-top: -16rem;
  }
  .choose-us-card {
    height: 30vh;
  }
}

@media screen and (max-width: 320px) {
  p {
    font-size: 0.4rem;
    line-height: 1rem;
  }
  form {
    text-align: left;
  }

  .cards {
    margin-top: -15rem;
  }
  .welcome {
    padding-left: 1rem;
  }
  .welcome-text {
    width: 100%;
  }
  .our-yachts-waves {
    display: none;
  }
  .contact-form {
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 280px) {
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.7rem;
  }
  .luxury p,
  .explore {
    font-size: 0.8rem;
  }

  .welcome {
    padding-right: 1rem;
  }
  .cards p {
    font-size: 0.6rem;
  }
  .contact-form {
    margin-left: 1rem;
  }
  footer {
    padding-left: 1rem;
  }
  .copyright {
    padding-left: 2rem;
  }
}
